.container.vh25 {
  min-height: 25vh;
}

.container.vh50 {
  min-height: 50vh;
}

.container.vh75 {
  min-height: 75vh;
}

.container.vh100 {
  min-height: 90vh;
}

.container .columna1,
.container .columna2,
.container .columna3,
.container .columna4 {
  flex: 1;
}

.container .columnaUnaTresQuartos {
  flex: 3 0 60%;
}

.container .columnaDosUnQuarto {
  flex: 2 0 30%;
  background-image: url("/images/bg_skills_for_life_skills_list_.jpg");
  background-size: cover;
  background-position: bottom left;
  background-repeat: no-repeat;
}

.container .columna1 h1,
.container .columna2 h1,
.container .columna3 h1,
.container .columna4 h1 {
  font-size: 70px;
}

.container .columna1 h3,
.container .columna2 h3,
.container .columna3 h3,
.container .columna4 h3 {
  line-height: 1;
  letter-spacing: 1px;
}

.container .columna1 h5,
.container .columna2 h5,
.container .columna3 h5,
.container .columna4 h5 {
  line-height: 1.5;
}

.container-fluid .titleOverTitle {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  display: block;
}
.container .columna1 .subColumnasFlex {
  display: flex;
}

.subColumnasFlex .subColumna1 {
  flex: 1;
}
.subColumnasFlex .subColumna2 {
  flex: 1;
}

.container.marginGlobal {
  margin-top: 3em;
  margin-bottom: 3em;
}

.buttonGray {
  display: block;
  text-align: left;
  margin-top: 2em;
}

.buttonGray a {
  text-decoration: none;
  background-color: #363d4a;
  color: white;
  padding: 0.8em 1.5em;
  border-radius: 30px;
  font-size: 20px;
  min-width: 200px;
  line-height: 1.3;
}

.buttonWhite {
  display: block;
  text-align: left;
  margin-top: 2em;
}

.buttonWhite a {
  text-decoration: none;
  background-color: #fff;
  color: #363d4a;
  padding: 0.8em 1.5em;
  border-radius: 30px;
  min-width: 200px;
  font-size: 20px;
}

.buttonNoBackgroundWhiteText {
  display: block;
  text-align: left;
  margin-top: 2em;
}

.buttonNoBackgroundWhiteText a {
  text-decoration: none;
  border: 1px solid white;
  color: #fff;
  padding: 0.8em 1.5em;
  border-radius: 30px;
  font-size: 20px;
  min-width: 200px;
}

.buttonNoBackgroundBlackText {
  display: block;
  text-align: left;
  margin-top: 2em;
}

.buttonNoBackgroundBlackText a {
  text-decoration: none;
  border: 1px solid #363d4a;
  color: #363d4a;
  padding: 0.8em 1.5em;
  border-radius: 30px;
  font-size: 14px;
  min-width: 200px;
  font-weight: bold;
}

.buttonGray.buttonRightFloat {
  text-align: right;
}

.buttonGray.buttonCenterFloat {
  text-align: center;
}

.buttonWhite.buttonRightFloat {
  text-align: right;
}

.buttonWhite.buttonCenterFloat {
  text-align: center;
}

.buttonNoBackgroundWhiteText.buttonRightFloat {
  text-align: right;
}

.titleOverTitle {
  position: relative;
}

.titleOverTitle {
  letter-spacing: 4px;
}

.titleOverTitle h5 {
  font-size: 4em;
  opacity: 0.2;
  z-index: -1;
  font-weight: bold;
  color: #363d4a;
}

.titleOverTitle h6 {
  z-index: 1;
  position: absolute;
  top: 30px;
  padding-left: 30px;
  color: #363d4a;
}

.secondaryNavigation a {
  color: #cfcfcf;
  font-weight: bold;
}
.secondaryNavigation a:hover,
.secondaryNavigation a.selected {
  color: #242325;
  font-weight: bold;
  text-decoration: none;
}
