* {
  box-sizing: border-box;
}

@font-face {
  font-family: Gotham-Book;
  src: url(../fonts/gotham/gotham/Gotham-Book.woff);
}

@font-face {
  font-family: Gotham-Bold;
  src: url(../fonts/gotham/gotham/Gotham-Bold.woff);
}

body,
html,
.container-fluid,
.container {
  font-family: Gotham-Book, sans-serif;
}

p {
  font-size: 20px;
}

.vh25 {
  min-height: 25vh;
}

.vh40 {
  min-height: 40vh;
}

.vh50 {
  min-height: 50vh;
}

.vh75 {
  min-height: 75vh;
}

.vh100 {
  min-height: 100vh;
}

.titleBold {
  font-family: Gotham-bold;
  color: #363d4a;
}

header {
  padding-top: 10px;
}

header .logo21 {
  width: 200px;
  display: inline-block;
  margin-right: 40px;
}

header .logo21 img {
  width: 120%;
  margin-top: 10px;
}

header ul li {
  display: inline-block;
  padding: 0.5em;
}

header ul li a {
  color: white;
  font-family: Gotham-bold;
  font-size: 14px;
}

header ul li a:hover {
  text-decoration: none;
  color: white;
  border-bottom: 1px solid white;
  padding-bottom: 10px;
}

#headerSection h1 {
  font-size: 92px;
  font-family: Gotham-bold;
}

#headerSection h2 {
  font-size: 50px;
  font-family: Gotham-bold;
  margin-bottom: 0;
  line-height: 0.5;
}

.btnGrey {
  display: block;
  margin: 2em auto;
  width: 231px;
  text-align: center;
}

.btnGrey a {
  display: block;
  color: white;
  background-color: #363d4a;
  padding: 15px;
  border-radius: 31px;
  font-weight: bold;
  letter-spacing: 2px;
}

.btnGrey a:hover {
  text-decoration: none;
}

.btnWhite {
  display: block;
  margin: 2em auto;
  width: 231px;
  text-align: center;
}
.btnWhite a {
  display: block;
  color: #363d4a;
  background-color: #fff;
  padding: 15px;
  border-radius: 31px;
  font-weight: bold;
  letter-spacing: 2px;
}

.btnWhite a:hover {
  text-decoration: none;
}
.btnTransparent {
  display: block;
  margin: 2em auto;
  text-align: center;
}

.btnTransparent a {
  display: inline-block;
  color: white;
  background-color: none;
  padding: 15px;
  border-radius: 31px;
  font-weight: bold;
  letter-spacing: 2px;
  border: 1px solid white;
  margin-right: 0.5em;
  min-width: 120px;
  text-align: center;
}

.btnTransparent a:hover {
  text-decoration: none;
}

#landingFrame h1 {
  font-size: 130px;
  font-weight: bold;
  font-family: Gotham-bold;
}

.upperTitle {
  font-weight: bold;
  font-family: Gotham-bold;
  font-size: 60px;
  color: rgba(255, 255, 255, 0.3);
  letter-spacing: 2px;
  margin-left: 150px;
  padding-top: 40px;
}

.upperTitle.whiteBg {
  color: #e4e4e4;
}

.upperTitle.mustardBg {
  color: rgba(0, 0, 0, 0.2);
  margin-left: 160px;
}

#landingFrame h4 {
  letter-spacing: 6px;
}

#landingFrame hr {
  width: 380px;
  color: white;
  background-color: white;
}

.bgIndexMainSection {
  background-image: url("../images/bg_indexMainSection.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.bgSkillsForLifeSection {
  background-image: url("../images/bg_SkillsForLifeMainSection.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.bgPartnersMainSection {
  background-image: url("../images/bg_Partner_Mainsection.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.bgContactUsBottomSection {
  background-image: url("../images/bg_contactus_section_bottom.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.bgContactUsBottomSectionWhite {
  background-image: url("../images/bg_contactus_white_section_bottom.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.bgAboutUsHeaderMainSection {
  background-image: url("../images/bg_about_us_HeaderSection.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.bgFutureSection {
  background-image: url("../images/bg_skillsforLifesection.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.bgAboutUsPartnersSections {
  background-image: url("../images/bg_aboutUsOurPartnersSection.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.bgOurStorySection {
  background-image: url("../images/bg_aboutUsOurStorySection.jpg");
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}
.bgSkillsForLifeMainSection {
  background-image: url("../images/bg_SkillsForLifeMainSection_header.jpg");
  background-size: cover;
  background-position: center right;
  background-repeat: no-repeat;
}
.bgSkillListSec {
  background-image: url("../images/bg_skillListSection.jpg");
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}

.bgDisruptingEducationMainSection {
  background-image: url("../images/bg_DisruptingEducation_mainSection.jpg");
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}
.bgTechAndEdSection {
  background-image: url("../images/bg_techanded_section.jpg");
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}
.bgWeBelieveIn {
  background-image: url("../images/bg_weBeliveIn_Section.jpg");
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}

.bgContactUsHeaderSection {
  background-image: url("../images/bg_contactus_HeaderSection.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.bgMediaHeaderSection {
  background-image: url("../images/bg_media_HeaderSection.jpg");
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}
.bgSolutionsInterventions {
  background-image: url("../images/bg_solutions_inter_Section.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.bgHeaderSolutions {
  background-image: url("../images/bg_solutions_HeaderSection.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.bgSolutionsSchools {
  background-image: url("../images/bg_solutions_schools_Section.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.bgLaborForce {
  background-image: url("../images/bg_laborForce_Section.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.bgSolutionsSpotlight {
  background-image: url("../images/bg_solutions_spotlight_Section.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.bgPartnersHeaderSection {
  background-image: url("../images/bg_partners_HeaderSection.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.bgLetsWorkTogether {
  background-image: url("../images/bg_WokrTogetherSection.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.bgTheCoalitionSection {
  background-image: url("../images/bg_theCoalition_Section.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.bgAreYouAnActor {
  background-image: url("../images/bg_areyouanActor_Section.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.bgHeaderAssess {
  background-image: url("../images/bg_assess_HeaderSection.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.itemSkills {
  margin-left: 50px;
  vertical-align: top;
  font-weight: 800;
}

.itemSkills img {
  width: 60px;

  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
}

.itemSkills p {
  display: inline-block;
  vertical-align: top;
}

.itemSkills span {
  font-size: 25px;
}

.disruptingImage {
  font-family: Gotham-bold;
  color: #363d4a;
}
.disruptingImage img {
  width: 250px;
}

.bgmustard {
  background-color: #f2da78;
}

.contactusBottom i {
  font-size: 25px;
  padding: 5px 15px;
}

.contactusBottom a:hover {
  text-decoration: none;
}

.subMenu {
  background-color: #f5f5f5;
}

.subMenu ul {
  margin: 0;
  padding: 0;
}

.subMenu ul li {
  display: inline-block;
}

.subMenu ul li a {
  color: #cfcfcf;
  font-family: Gotham-bold;
  padding-right: 1.5em;
}

.subMenu ul li a:hover {
  text-decoration: none;
}

.subMenu ul li a.selected {
  color: black;
}

.ourApproachImage {
  max-width: 1000px;
  width: 100%;
  display: block;
  margin: 1em auto;
}

.ourApproachImage img {
  width: 100%;
}

.videosLaunchEvent ul {
  margin: 0;
  padding: 0;
  text-align: center;
}

.videosLaunchEvent ul li {
  display: inline-block;
  width: 20%;
  margin: 1em;
  vertical-align: top;
  text-align: left;
}

.videosLaunchEvent ul li img {
  width: 100%;
  cursor: pointer;
  display: block;
  margin: 0 auto;
}

.videosLaunchEvent ul li p {
  font-weight: bold;
  font-family: Gotham-bold;
}

.modal-body {
  text-align: center;
  padding-top: 2em;
  padding-bottom: 2em;
}

.skillItemWord {
  text-transform: uppercase;
  font-weight: bold;
  font-family: Gotham-bold;
}

.videoPrincipal {
  width: 100%;
  max-width: 490px;
  position: relative;
  height: 475px;
}

.videoPrincipal iframe {
  width: 100%;
  min-width: 400px;
  max-width: 500px;
  position: absolute;
  vertical-align: top;
}

.videoMenu ul {
  margin: 0;
  padding: 0;
}

.videoMenu ul li {
  display: inline-block;
  width: 162px;
  margin: 0em 0.4em 2.2em 0.4em;
}

.videoMenu ul li img {
  width: 100%;
}

.videoMenu ul li:hover {
  cursor: pointer;
}

.skillsIcons {
  padding: 10px;
  margin-bottom: 16px;
}

.skillsIcons img {
  width: 40px;
  display: inline-block;
  margin-right: 10px;
}

.skillsIcons p {
  display: inline-block;
}

.openCallItem img {
  width: 100%;
}
