@font-face {
  font-family: GothamNarrow-Bold;
  src: url(../fonts/gotham/gotham_narrow/GothamNarrow-Bold.woff);
  src: url(../fonts/gotham/gotham_narrow/GothamNarrow-Bold.otf);
}

@font-face {
  font-family: GothamNarrow-Book;
  src: url(../fonts/gotham/gotham_narrow/GothamNarrow-Book.otf);
}

@font-face {
  font-family: GothamNarrow-Light;
  src: url(../fonts/gotham/gotham_narrow/GothamNarrow-Light.otf);
}

@font-face {
  font-family: GothamNarrow-Medium;
  src: url(../fonts/gotham/gotham_narrow/GothamNarrow-Medium.otf);
}

@font-face {
  font-family: GothamHTF;
  src: url(../fonts/gotham/gothamHTF/GothamHTF-Book.ttf);
  src: url(../fonts/gotham/gothamHTF/GothamHTF-Book.woff);
}

body,
html {
  font-family: GothamNarrow-Book, sans-serif;
}

.testFontGothamHTF {
  font-family: GothamHTF;
}

.testFontGothamNarrow {
  font-family: GothamNarrow-Bold;
}

.testFontGothamNarrowMedium {
  font-family: GothamNarrow-Medium;
}

.testFontGothamNarrowLight {
  font-family: GothamNarrow-Light;
}

.testFontGothamNarrowBook {
  font-family: GothamNarrow-Book;
}

.titleLarge30 {
  font-size: 20px;
  line-height: 1.2 !important;
}

.titleLarge30b {
  font-size: 30px;
  line-height: 1.2 !important;
}

.titleLarge40 {
  font-size: 34px;
  line-height: 1.2 !important;
  font-family: GothamNarrow-Medium, sans-serif;
}

.titleLarge45 {
  font-size: 34px;
  font-family: GothamNarrow-Medium, sans-serif;
}

.titleLarge60 {
  font-size: 50px;
  font-family: GothamNarrow-Medium, sans-serif;
}

header {
  position: fixed;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  z-index: 100;
}

header ul {
  margin: 0;
}

header a {
  color: #fff;
}

header a:hover {
  color: #fff;
}

#landingFrame {
  color: white;
  text-align: center;
}

#landingFrame h1 {
  font-size: 60px;
  font-family: GothamNarrow-Medium, sans-serif;
}

#landingFrame h4 {
  color: rgba(255, 255, 255, 0.6);
  font-size: 34px;
  font-family: GothamNarrow-Medium, sans-serif;
}

#landingFrame hr {
  background-color: rgba(255, 255, 255, 0.4);
  width: 400px;
  height: 2px;
}

.overviewFrame {
  color: #363d4a;
}

.overviewFrame h3 {
  line-height: 1.5;
  font-weight: bold;
  font-family: GothamNarrow-Medium, sans-serif;
}

.overviewFrame h6 {
  letter-spacing: 2px;
  font-weight: bold;
  font-family: GothamNarrow-Medium, sans-serif;
}

.overviewFrame button {
  background-color: #ccc;
}

.skillsForLife .circleImage {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  background-color: red;
}

.bgLightGray {
  background-color: #f5f5f5;
}

.ourPartnersLogos ul {
  margin: 0;
  padding: 0;
  text-align: center;
}

.ourPartnersLogos ul li {
  width: 130px;
  height: 120px;
  padding: 0 1em;
  margin-bottom: 0.5em;
  vertical-align: top;
  display: inline-block;
}

.ourPartnersLogos ul li img {
  width: 100%;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}

.ourPartnersLogos ul li img:hover {
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
}

.skillForLifeGraph img {
  width: 100%;
}

.skillListIndividualItems {
  padding: 2em;
}

.skillListIndividualItems ul li {
  list-style: none;
  color: white;
  padding: 0.25em 0.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-align: right;
  padding-right: 3em;
  width: 300px;
}

.skillListIndividualItems ul li a {
  color: white;
}

.skillListIndividualItems ul li a:hover {
  color: #f2da78;
  text-decoration: none;
}

.columnaUnaTresQuartos {
  width: 60%;
  max-width: 620px;
  float: right;
}

.columnaUnaTresQuartos .skillsSubColumn2 {
  position: relative;
  left: 10px;
}

.columnaUnaTresQuartos .imageSkillsCircle {
  width: 260px;
}

.columnaUnaTresQuartos .imageSkillsCircle img {
  width: 130%;
  z-index: 100;
  border: 10px solid #fff;
  border-radius: 50%;
}

.secondColumnImage75vh {
  min-height: 75vh;
}

.secondColumnImage100vh {
  min-height: 90vh;
}

.secondColumnImage75vh.ContactUsRegistation {
  background-image: url("../images/contactus_register.png");
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
  position: relative;
}

.secondColumnImage75vh.PartnersCoalitionBGImage {
  background-image: url("../images/the_coalition_signature.png");
  background-size: cover;
  background-position: bottom left;
  background-repeat: no-repeat;
}

.secondColumnImage100vh.DisruptingBGImage {
  background-image: url("../images/disrupting_education_whatTechCan.png");
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
}

.BGCoalition {
  background-image: url("../images/bg_PartnersTheCoalition_web.png");
  background-size: cover;
  background-position: right top;
  background-repeat: no-repeat;
}

.bgIndexMainSection {
  background-image: url("../images/bg_indexMainSection.jpg");
  background-size: cover;
  background-position: right top;
  background-repeat: no-repeat;
}

.bgAboutUsHeaderMainSection {
  background-image: url("../images/bg_about_us_HeaderSection.png");
  background-size: cover;
  background-position: right top;
  background-repeat: no-repeat;
  font-family: GothamNarrow-Medium, sans-serif;
}

.bgDisruptingEducationMainSection {
  background-image: url("../images/bg_DisruptingEducation_mainSection.png");
  background-size: cover;
  background-position: right top;
  background-repeat: no-repeat;
  font-family: GothamNarrow-Medium, sans-serif;
}

.bgSolutionsMainSection {
  background-image: url("../images/bg_SolutionsMainSection.png");
  background-size: cover;
  background-position: right top;
  background-repeat: no-repeat;
  font-family: GothamNarrow-Medium, sans-serif;
}

.bgSkillsForLifeMainSection {
  background-image: url("../images/bg_SkillsForLifeMainSection.png");
  background-size: cover;
  background-position: right top;
  background-repeat: no-repeat;
  font-family: GothamNarrow-Medium, sans-serif;
}

.bgAssessCertifyMainSection {
  background-image: url("../images/bg_assess_Assess_Certify_section.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  font-family: GothamNarrow-Medium, sans-serif;
}

.bgPartnersMainSection {
  background-image: url("../images/bg_Partner_Mainsection.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  font-family: GothamNarrow-Medium, sans-serif;
}

.bgContactUsMainSection {
  background-image: url("../images/contactus_header_01.png");
  background-size: cover;
  background-position: right top;
  background-repeat: no-repeat;
  font-family: GothamNarrow-Medium, sans-serif;
}

.bgLaunchEventInReponse {
  background-image: url("../images/Launch-event.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.bgContactUsBottomSection {
  background-image: url("../images/bg_contactus_section_bottom.png");
  background-size: cover;
  background-position: right top;
  background-repeat: no-repeat;
  font-family: GothamNarrow-Medium, sans-serif;
}

.bgHomeJoinTheInitiative {
  background-image: url("../images/bg_home_jointheinitiative.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.bgAboutUsSkillsForLifeFullSection {
  background-image: url("../images/bg_skillsforLifesection.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.bgAboutUsPartnersSections {
  background-image: url("../images/bg_aboutUsOurPartnersSection.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.bgAboutUsWeBeliveInDisrupte {
  background-image: url("../images/bg_aboutus_weBelieve_inDisruptiveInnovation.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.bgAboutCoalitionSection {
  background-image: url("../images/bg_about_Coalition_section.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.bgAboutLetsWorkTogether {
  background-image: url("../images/bg_about_letswortogether_section.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.bgPartnersAreYou {
  background-image: url("../images/bg_PartnersAreYou_web.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.bgRegistrationTable {
  background-image: url("../images/bg_ContactRegistrationTable_section.png");
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
  min-height: 75vh;
  padding: 0;
}

.bgContactUsBottomSection i,
.bgContactUsBottomSection a {
  color: #f2da78;
}

.bgContactUsBottomSection img {
  top: -50px;
  display: block;
  position: relative;
}
.contactUs-logosRegistration {
  display: block;
  margin: 2em auto;
  text-align: center;
}

.contactUs-logosRegistration li {
  vertical-align: top;
  display: inline-block;
  text-align: center;
}

.contactUs-logosRegistration img {
  width: 100%;
  max-width: 400px;
}

.documentImagesLaunch {
  max-width: 60%;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.documentImagesLaunch img {
  width: 100%;
  display: block;
  transition: transform 0.2s;
}

.documentImagesLaunch img:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.contactus-bottom-socialIcons ul {
  margin: 0 0 0 1em;
  padding: 0;
}
.contactus-bottom-socialIcons ul li {
  display: inline-block;
  margin: 1em;
}

.contactus-bottom-socialIcons ul li a {
  color: #f2da78;
}

.tileItem {
  flex: 1 0 24%;
  position: relative;
  min-height: 200px;
  min-width: 200px;
  margin: 0.3em;
}

.tileItem.andOneFourth {
  flex: 1 0 30%;
}

.tileItem h3 {
  color: #fff;
  position: absolute;
  bottom: 10px;
  right: 40px;
}

.tileItem.tileDouble {
  flex: 2 0 50%;
}

.tileItem.tileTriple {
  flex: 3 0 75%;
}

.tileItem p {
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-size: 20px;
  line-height: 1.2;
}

.tileItem p span {
  font-weight: bold;
  font-size: 25px;
}

.bgDigitalTile {
  background-color: #363d4a;
  background-image: url("../images/bg_tileDigital.png");
  background-size: cover;
  background-position: right bottom;
  background-repeat: no-repeat;
}

.bgCitizenshipTile {
  background-color: #363d4a;
  background-image: url("../images/bg_tileCitizenship.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.bgArtTile {
  background-color: #526079;
  background-image: url("../images/bg_tileArt.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.bgSportTile {
  background-color: #616a7b;
  background-image: url("../images/bg_tileSports.png");
  background-size: cover;
  background-position: right bottom;
  background-repeat: no-repeat;
}

.bgBehaviorTile {
  background-color: #616a7b;
  background-image: url("../images/bg_tileBehavior.png");
  background-size: cover;
  background-position: right bottom;
  background-repeat: no-repeat;
}

.bgMindfulnessTile {
  background-color: #526079;
  background-image: url("../images/bg_tileMindfulness.png");
  background-size: cover;
  background-position: right bottom;
  background-repeat: no-repeat;
}

.bgEntrepreneurshipTile {
  background-color: #363d4a;
  background-image: url("../images/bg_tileEntrepreneurship.png");
  background-size: cover;
  background-position: right bottom;
  background-repeat: no-repeat;
}

.bgAITile {
  background-color: #363d4a;
  background-image: url("../images/bg_tileAI.png");
  background-size: cover;
  background-position: right bottom;
  background-repeat: no-repeat;
}

.bgAgingTile {
  background-color: #363d4a;
  background-image: url("../images/bg_tileAging.png");
  background-size: cover;
  background-position: right bottom;
  background-repeat: no-repeat;
}

.bgClimateChangeTile {
  background-color: #363d4a;
  background-image: url("../images/bg_tileClimate.png");
  background-size: cover;
  background-position: right bottom;
  background-repeat: no-repeat;
}

.bgDiversityTile {
  background-color: #363d4a;
  background-image: url("../images/bg_tileDiversity.png");
  background-size: cover;
  background-position: right bottom;
  background-repeat: no-repeat;
}
.bgCovidTile {
  background-color: #363d4a;
  background-image: url("../images/bg_tileCovid.png");
  background-size: cover;
  background-position: right bottom;
  background-repeat: no-repeat;
}

.newsItemColumn {
  min-height: 300px;
  vertical-align: top;
}
.newsItemColumn h5 {
  min-height: 130px;
  margin-top: 0.5em;
  font-size: 25px;
  line-height: 1.1 !important;
}

.newsItemColumn a {
  color: #507ed2;
  font-weight: bold;
}

.newsItemColumn .newsItemCategory span {
  background-color: #363d2a;
  color: #fff;
  padding: 0.3em 1em;
}

.publicationFrame {
  flex: 2 0 50%;
}

.publicationFrame h5 {
  color: #363d4a;
  font-weight: bold;
  line-height: 1.1 !important;
}

.publicationFrame p {
  color: #363d4a;
}

.publicationFrame.bgGreyLight {
  background-color: #cfcfd1;
}

.publicationFrame img {
  width: 180px;
  display: block;
  margin: 0 auto;
}

.newColumnItem {
  flex: 1 0 25%;
  max-width: 240px;
  margin-top: 2em;
}

.mediaArticlesLogo ul {
  margin: 0;
  padding: 0;
}

.mediaArticlesLogo ul li {
  width: 155px;
  height: 120px;
  padding: 1em;
  margin: 1em 0.5em;
  vertical-align: top;
  display: inline-block;
}

.oneOfFourSkills {
  flex: 1 0 25%;
  height: 37.5vh;
  position: relative;
}

.oneOfFourSkills .textFourSkills {
  position: absolute;
  bottom: 10px;
}

.disruptingMagazinesTile {
  flex: 1 0 25%;
  height: 50vh;
  min-width: 200px;
  vertical-align: top;
}

.disruptingMagazinesTile .textDisrupting {
  color: #363d4a;
  text-align: top;
}

.disruptingMagazinesTile img {
  width: 90%;
  display: block;
  margin-bottom: 1em;
}

.assessmentFrame {
  flex: 1 0 25%;
  height: 50vh;
  min-width: 200px;
  vertical-align: top;
}

.assessmentFrame.bgFrameTile01 {
  background-image: url("../images/bg_test_pruebas_04.png");
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
  position: relative;
}
.assessmentFrame.bgFrameTile02 {
  background-image: url("../images/bg_test_pruebas_04.png");
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
  position: relative;
}
.assessmentFrame.bgFrameTile03 {
  background-image: url("../images/bg_test_pruebas_04.png");
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
  position: relative;
}
.assessmentFrame.bgFrameTile04 {
  background-image: url("../images/bg_test_pruebas_04.png");
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
  position: relative;
}

.bgFrameSkill01 {
  background-image: url("../images/bg_skillsForLife_Essential.png");
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
  position: relative;
  height: 300px;
}

.bgFrameSkill02 {
  background-image: url("../images/bg_skillsForLife_Necessary.png");
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
  position: relative;
  height: 300px;
}

.bgFrameSkill03 {
  background-image: url("../images/bg_skillsForLife_Reusable.png");
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
  position: relative;
  height: 300px;
}

.bgFrameSkill04 {
  background-image: url("../images/bg_skillsForLife_Not-specifically-relate.png");
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
  position: relative;
  height: 300px;
}

.bgFrameSkill05 {
  background-image: url("../images/bg_tileAccess.png");
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
  position: relative;
  height: 300px;
}

.bgFrameSkill06 {
  background-image: url("../images/bg_tileCertify.png");
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
  position: relative;
  height: 300px;
}

.bgFrameSkill07 {
  background-image: url("../images/bg_tileShowcase.png");
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
  position: relative;
  height: 300px;
}

.bgFrameSkill08 {
  background-image: url("../images/bg_tileBuild.png");
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
  position: relative;
  height: 300px;
}

.contactInfoSection ul li {
  display: block;
  padding: 0.3em;
}

.contactInfoSection ul li a {
  color: #507ed2;
}

.contactInfoSection ul li i {
  color: #507ed2;
  margin-right: 0.3em;
}

.ourPartnersLogosPartnersSection ul li {
  display: inline-block;
  width: 180px;
  height: 180px;
  padding: 6px;
  vertical-align: top;
}

.ourPartnersLogosPartnersSection ul li img {
  width: 100%;
}

.videoPrincipal {
  width: 100%;
  max-width: 490px;
  position: relative;
  height: 475px;
}

.videoPrincipal iframe {
  width: 100%;
  min-width: 400px;
  max-width: 500px;
  position: absolute;
  vertical-align: top;
}

.videoMenu ul {
  margin: 0;
  padding: 0;
}

.videoMenu ul li {
  display: inline-block;
  width: 30%;
  margin: 0em 0.4em 2.2em 0.4em;
}

.videoMenu ul li img {
  width: 100%;
}

.videoMenu ul li:hover {
  cursor: pointer;
}

.spotlightSection {
  background-image: url("../images/bg_solutions_spotlight_section.png");
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
  position: relative;
}

.bgWeBelive {
  background-image: url("../images/bg_disrupting_section_weBelieve.jpg");
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
}

.videosLaunchEvent ul {
  margin: 0;
  padding: 0;
}

.videosLaunchEvent ul li {
  display: inline-block;
  width: 20%;
  margin: 1em;
  vertical-align: top;
}

.videosLaunchEvent ul li img {
  width: 100%;
  cursor: pointer;
  display: block;
  margin: 0 auto;
}

.videosLaunchEvent ul li p {
  font-weight: bold;
}

.modal-body {
  text-align: center;
  padding-top: 2em;
  padding-bottom: 2em;
}

#block-views-block-news-block-1 ul,
#block-views-block-news-block-1-2 ul {
  margin: 0;
  padding: 0;
}

#block-views-block-news-block-1 ul li,
#block-views-block-news-block-1-2 ul li {
  display: inline-block;
  min-width: 240px;
  width: 22%;
  margin: 2em 0.5em;
  vertical-align: top;
}

#block-views-block-news-block-1 ul li span,
#block-views-block-news-block-1-2 ul li span {
  background-color: #363d2a;
  color: #fff;
  padding: 0.3em 1em;
}

#block-views-block-news-block-1 ul li h5,
#block-views-block-news-block-1-2 ul li h5 {
  min-height: 130px;
  margin-top: 0.5em;
  font-size: 22px;
  line-height: 1.1 !important;
}

#block-views-block-news-block-1 ul li p,
#block-views-block-news-block-1-2 ul li p {
  margin-top: 0;
  margin-bottom: 1em;
}

#block-views-block-news-block-1 ul li a,
#block-views-block-news-block-1-2 ul li a {
  color: #507ed2;
  font-weight: bold;
}

#block-views-block-news-block-1 ul li a:hover,
#block-views-block-news-block-1-2 ul li a:hover {
  text-decoration: none;
}

.bgUniverseSkills {
  background-color: #4a4949;
  background-image: url("../images/bg_skillsforLifesection.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
}

.skillListWithImage ul {
  margin: 2em auto 3em auto;
  padding-left: 0;
}

.skillListWithImage ul li {
  display: inline-block;
  width: 30%;
  text-transform: uppercase;
  padding: 0.3em 1em;
  color: #fff;
  font-weight: bold;
}

.skillListWithImage ul li a {
  color: white;
}

.skillListWithImage ul li a:hover {
  text-decoration: none;
  color: #f2da78;
}

.skillListWithImage img {
  max-width: 520px;
  position: absolute;
  top: -200px;
  left: -40px;
  border-radius: 50%;
  border: 10px solid white;
}

.registratonTable {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  min-height: 300px;
}

.registratonTable form input[type="email"] {
  width: 300px;
  border-radius: 10px;
  outline-color: #507ed2;
  border: none;
  display: block;
  margin: 0 auto 2em auto;
  padding: 0.3em;
}

.registratonTable form input[type="submit"] {
  width: 150px;
  border-radius: 20px;
  outline-color: #507ed2;
  border: none;
  display: block;
  margin: 0 auto 2em auto;
  padding: 0.5em 1em;
  background-color: #f2da78;
}

.blogFeaturedSections .yellowText {
  color: #f2da78;
}

.blogFeaturedItems ul li {
  display: inline-block;
  width: 30%;
  margin: 1em;
  border: 1px solid red;
  border-bottom: 2px solid #507ed2;
  vertical-align: top;
}

.blogFeaturedItems ul li img {
  width: 100px;
  border-radius: 50%;
  float: left;
  margin-right: 0.5em;
}

.SkillsSeries .skillSeriesImgBook img {
  width: 100%;
}

.SkillsSeries ul {
  margin: 0;
  padding: 0;
}

.SkillsSeries ul li {
  list-style: none;
  padding-top: 1em;
}

.SkillsSeries ul li img {
  width: 100px;
  border-radius: 50%;
  float: left;
  margin-right: 0.5em;
  border: 3px solid #d1d3d4;
  background-color: #d1d3d4;
}
