.titleLarge30 {
  font-size: 25px;
  line-height: 1.2 !important;
}

.titleLarge30b {
  font-size: 30px;
  line-height: 1.2 !important;
}

.titleLarge40 {
  font-size: 40px;
  line-height: 1.1 !important;
}

.titleLarge45 {
  font-size: 45px;
}

.titleLarge60 {
  font-size: 60px;
}

header {
  position: fixed;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  z-index: 100;
}

header ul {
  margin: 0;
}

header a {
  color: #fff;
}

header a:hover {
  color: #fff;
}

#landingFrame {
  color: white;
  text-align: center;
}

#landingFrame h1 {
  font-size: 130px;
}

#landingFrame h4 {
  color: rgba(255, 255, 255, 0.6);
  font-size: 40px;
}

#landingFrame hr {
  background-color: rgba(255, 255, 255, 0.4);
  width: 400px;
  height: 2px;
}

.overviewFrame {
  color: #363d4a;
}

.overviewFrame h3 {
  line-height: 1.5;
  font-weight: bold;
}

.overviewFrame h6 {
  letter-spacing: 2px;
  font-weight: bold;
}

.overviewFrame button {
  background-color: #ccc;
}

.skillsForLife .circleImage {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  background-color: red;
}

.bgLightGray {
  background-color: #f5f5f5;
}

.ourPartnersLogos ul {
  margin: 0;
  padding: 0;
}

.ourPartnersLogos ul li {
  width: 155px;
  height: 120px;
  padding: 0 1em;
  margin-bottom: 0.5em;
  vertical-align: top;
  display: inline-block;
}

.ourPartnersLogos ul li img {
  width: 100%;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}

.ourPartnersLogos ul li img:hover {
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
}

.skillForLifeGraph img {
  width: 100%;
}

.skillListIndividualItems {
  padding: 2em;
}

.skillListIndividualItems ul li {
  list-style: none;
  color: white;
  padding: 0.25em 0.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-align: right;
  padding-right: 3em;
}

.skillListIndividualItems ul li a {
  color: white;
}

.skillListIndividualItems ul li a:hover {
  color: #f2da78;
  text-decoration: none;
}

.columnaUnaTresQuartos .skillsSubColumn2 {
  position: relative;
  left: 10px;
}

.columnaUnaTresQuartos .imageSkillsCircle {
  width: 260px;
}

.columnaUnaTresQuartos .imageSkillsCircle img {
  width: 130%;
  z-index: 100;
  border: 10px solid #fff;
  border-radius: 50%;
}

.secondColumnImage75vh {
  min-height: 75vh;
}

.secondColumnImage100vh {
  min-height: 90vh;
}

.secondColumnImage75vh.ContactUsRegistation {
  background-image: url("../images/contactus_register.png");
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
  position: relative;
}

.secondColumnImage75vh.PartnersCoalitionBGImage {
  background-image: url("../images/the_coalition_signature.png");
  background-size: cover;
  background-position: bottom left;
  background-repeat: no-repeat;
}

.secondColumnImage100vh.DisruptingBGImage {
  background-image: url("../images/disrupting_education_whatTechCan.png");
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
}

.bgIndexMainSection {
  background-image: url("../images/bg_indexMainSection.jpg");
  background-size: cover;
  background-position: right top;
  background-repeat: no-repeat;
}

.bgAboutUsHeaderMainSection {
  background-image: url("../images/bg_about_us_HeaderSection.png");
  background-size: cover;
  background-position: right top;
  background-repeat: no-repeat;
}

.bgDisruptingEducationMainSection {
  background-image: url("../images/bg_DisruptingEducation_mainSection.png");
  background-size: cover;
  background-position: right top;
  background-repeat: no-repeat;
}

.bgSolutionsMainSection {
  background-image: url("../images/bg_SolutionsMainSection.png");
  background-size: cover;
  background-position: right top;
  background-repeat: no-repeat;
}

.bgSkillsForLifeMainSection {
  background-image: url("../images/bg_SkillsForLifeMainSection.png");
  background-size: cover;
  background-position: right top;
  background-repeat: no-repeat;
}

.bgAssessCertifyMainSection {
  background-image: url("../images/bg_AssessCertifyMainSection.png");
  background-size: cover;
  background-position: right top;
  background-repeat: no-repeat;
}

.bgPartnersMainSection {
  background-image: url("../images/bg_PartnersMainSection.png");
  background-size: cover;
  background-position: right top;
  background-repeat: no-repeat;
}

.bgContactUsMainSection {
  background-image: url("../images/bg_ContactUsMainSection.png");
  background-size: cover;
  background-position: right top;
  background-repeat: no-repeat;
}

.bgLaunchEventInReponse {
  background-image: url("../images/Launch-event.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.bgContactUsBottomSection {
  background-image: url("../images/bg_contactus_section_bottom.png");
  background-size: cover;
  background-position: right top;
  background-repeat: no-repeat;
}

.bgHomeJoinTheInitiative {
  background-image: url("../images/bg_home_jointheinitiative.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.bgAboutUsSkillsForLifeFullSection {
  background-image: url("../images/bg_skillsforLifesection.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.bgAboutUsPartnersSections {
  background-image: url("../images/bg_aboutUsOurPartnersSection.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.bgAboutUsWeBeliveInDisrupte {
  background-image: url("../images/bg_aboutus_weBelieve_inDisruptiveInnovation.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.bgAboutCoalitionSection {
  background-image: url("../images/bg_about_Coalition_section.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.bgAboutLetsWorkTogether {
  background-image: url("../images/bg_about_letswortogether_section.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.bgContactUsBottomSection i,
.bgContactUsBottomSection a {
  color: #f2da78;
}

.bgContactUsBottomSection img {
  top: -50px;
  display: block;
  position: relative;
}
.contactUs-logosRegistration {
  width: 80%;
}

.contactUs-logosRegistration li {
  list-style: none;
  margin-top: 2em;
}

.contactUs-logosRegistration img {
  width: 100%;
}

.documentImagesLaunch {
  max-width: 60%;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.documentImagesLaunch img {
  width: 100%;
  display: block;
  transition: transform 0.2s;
}

.documentImagesLaunch img:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.contactus-bottom-socialIcons ul {
  margin: 0 0 0 1em;
  padding: 0;
}
.contactus-bottom-socialIcons ul li {
  display: inline-block;
  margin: 1em;
}

.contactus-bottom-socialIcons ul li a {
  color: #f2da78;
}

.tileItem {
  flex: 1 0 25%;
  position: relative;
  min-height: 200px;
  min-width: 200px;
}

.tileItem h3 {
  color: #fff;
  position: absolute;
  bottom: 10px;
  right: 40px;
}

.tileItem.tileDouble {
  flex: 2 0 50%;
}

.tileItem.tileTriple {
  flex: 3 0 75%;
}

.bgDigitalTile {
  background-color: #363d4a;
  background-image: url("../images/bg_tileDigital.png");
  background-size: cover;
  background-position: right bottom;
  background-repeat: no-repeat;
}

.bgCitizenshipTile {
  background-color: #363d4a;
  background-image: url("../images/bg_tileCitizenship.png");
  background-size: cover;
  background-position: right bottom;
  background-repeat: no-repeat;
}

.bgArtTile {
  background-color: #526079;
  background-image: url("../images/bg_tileArt.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.bgSportTile {
  background-color: #616a7b;
  background-image: url("../images/bg_tileSports.png");
  background-size: cover;
  background-position: right bottom;
  background-repeat: no-repeat;
}

.bgBehaviorTile {
  background-color: #616a7b;
  background-image: url("../images/bg_tileBehavior.png");
  background-size: cover;
  background-position: right bottom;
  background-repeat: no-repeat;
}

.bgMindfulnessTile {
  background-color: #526079;
  background-image: url("../images/bg_tileMindfulness.png");
  background-size: cover;
  background-position: right bottom;
  background-repeat: no-repeat;
}

.bgEntrepreneurshipTile {
  background-color: #363d4a;
  background-image: url("../images/bg_tileEntrepreneurship.png");
  background-size: cover;
  background-position: right bottom;
  background-repeat: no-repeat;
}

.bgAITile {
  background-color: #363d4a;
  background-image: url("../images/bg_tileAI.png");
  background-size: cover;
  background-position: right bottom;
  background-repeat: no-repeat;
}

.bgAgingTile {
  background-color: #363d4a;
  background-image: url("../images/bg_tileAging.png");
  background-size: cover;
  background-position: right bottom;
  background-repeat: no-repeat;
}

.bgClimateChangeTile {
  background-color: #363d4a;
  background-image: url("../images/bg_tileClimate.png");
  background-size: cover;
  background-position: right bottom;
  background-repeat: no-repeat;
}

.bgDiversityTile {
  background-color: #363d4a;
  background-image: url("../images/bg_tileDiversity.png");
  background-size: cover;
  background-position: right bottom;
  background-repeat: no-repeat;
}
.bgCovidTile {
  background-color: #363d4a;
  background-image: url("../images/bg_tileCovid.png");
  background-size: cover;
  background-position: right bottom;
  background-repeat: no-repeat;
}

.newsItemColumn {
  min-height: 300px;
  vertical-align: top;
}
.newsItemColumn h5 {
  min-height: 130px;
  margin-top: 0.5em;
  font-size: 25px;
  line-height: 1.1 !important;
}

.newsItemColumn a {
  color: #507ed2;
  font-weight: bold;
}

.newsItemColumn .newsItemCategory span {
  background-color: #363d2a;
  color: #fff;
  padding: 0.3em 1em;
}

.publicationFrame {
  flex: 2 0 50%;
  background-color: #f2f2f2;
}
.publicationFrame h5 {
  color: #363d4a;
  font-weight: bold;
  line-height: 1.1 !important;
}

.publicationFrame p {
  color: #363d4a;
}

.publicationFrame.bgGreyLight {
  background-color: #cfcfd1;
}

.publicationFrame img {
  width: 180px;
  display: block;
  margin: 0 auto;
}

.newColumnItem {
  flex: 1 0 25%;
  max-width: 240px;
  margin-top: 2em;
}

.mediaArticlesLogo ul {
  margin: 0;
  padding: 0;
}

.mediaArticlesLogo ul li {
  width: 155px;
  height: 120px;
  padding: 1em;
  margin: 1em 0.5em;
  vertical-align: top;
  display: inline-block;
}

.oneOfFourSkills {
  flex: 2 0 50%;
  height: 37.5vh;
  position: relative;
}

.oneOfFourSkills .textFourSkills {
  position: absolute;
  bottom: 10px;
}

.disruptingMagazinesTile {
  flex: 1 0 25%;
  height: 50vh;
  min-width: 200px;
  vertical-align: top;
}

.disruptingMagazinesTile .textDisrupting {
  color: #363d4a;
  text-align: top;
}

.disruptingMagazinesTile img {
  width: 90%;
  display: block;
  margin-bottom: 1em;
}

.assessmentFrame {
  flex: 1 0 25%;
  height: 50vh;
  min-width: 200px;
  vertical-align: top;
}

.assessmentFrame.bgFrameTile01 {
  background-image: url("../images/bg_test_pruebas_04.png");
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
  position: relative;
}
.assessmentFrame.bgFrameTile02 {
  background-image: url("../images/bg_test_pruebas_04.png");
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
  position: relative;
}
.assessmentFrame.bgFrameTile03 {
  background-image: url("../images/bg_test_pruebas_04.png");
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
  position: relative;
}
.assessmentFrame.bgFrameTile04 {
  background-image: url("../images/bg_test_pruebas_04.png");
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
  position: relative;
}

.assessmentFrame p {
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-size: 20px;
}

.assessmentFrame p span {
  font-weight: bold;
  font-size: 25px;
}

.contactInfoSection ul li {
  display: block;
  padding: 0.3em;
}

.contactInfoSection ul li a {
  color: #507ed2;
}

.contactInfoSection ul li i {
  color: #507ed2;
  margin-right: 0.3em;
}

.registrationFormContactUs {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  width: 100%;
  height: 220px;
  margin-top: 180px;
}

.registrationFormContactUs form input[type="email"] {
  width: 300px;
  border-radius: 10px;
  outline-color: #507ed2;
  border: none;
  display: block;
  margin: 0 auto 2em auto;
  padding: 0.3em;
}

.registrationFormContactUs form input[type="submit"] {
  width: 150px;
  border-radius: 20px;
  outline-color: #507ed2;
  border: none;
  display: block;
  margin: 0 auto 2em auto;
  padding: 0.5em 1em;
  background-color: #f2da78;
}

.ourPartnersLogosPartnersSection ul li {
  display: inline-block;
  width: 180px;
  height: 180px;
  padding: 6px;
  vertical-align: top;
}

.ourPartnersLogosPartnersSection ul li img {
  width: 100%;
}

.videoPrincipal {
  width: 450px;
  height: 500px;
  background: red;
  position: relative;
}

.videoPrincipal iframe {
  width: 100%;
  min-width: 400px;
  position: absolute;
}

.spotlightSection {
  background-image: url("../images/bg_solutions_spotlight_section.png");
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
  position: relative;
}

.bgWeBelive {
  background-image: url("../images/bg_disrupting_section_weBelieve.jpg");
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
}

.modal-body {
  text-align: center;
  padding-top: 2em;
  padding-bottom: 2em;
}
