* {
  box-sizing: border-box;
}

@font-face {
  font-family: Gotham-Book;
  src: url(../fonts/gotham/gotham/Gotham-Book.woff);
}

@font-face {
  font-family: Gotham-Bold;
  src: url(../fonts/gotham/gotham/Gotham-Bold.woff);
}

body,
html {
  font-family: Gotham-book, sans-serif;
}

p {
  font-size: 20px;
}

.vh25 {
  min-height: 25vh;
}

.vh50 {
  min-height: 50vh;
}

.vh75 {
  min-height: 75vh;
}

.vh100 {
  min-height: 100vh;
}

.titleBold {
  font-family: Gotham-bold;
  color: #363d4a;
}

#headerSection h1 {
  font-size: 92px;
  font-family: Gotham-bold;
}

#headerSection h2 {
  font-size: 50px;
  font-family: Gotham-bold;
  margin-bottom: 0;
  line-height: 0.5;
}

.btnGrey {
  display: block;
  margin: 2em auto;
  width: 231px;
  text-align: center;
}

.btnGrey a {
  display: block;
  color: white;
  background-color: #363d4a;
  padding: 15px;
  border-radius: 31px;
  font-weight: bold;
  letter-spacing: 2px;
}

.btnGrey a:hover {
  text-decoration: none;
}

.btnWhite {
  display: block;
  margin: 2em auto;
  width: 231px;
  text-align: center;
}
.btnWhite a {
  display: block;
  color: #363d4a;
  background-color: #fff;
  padding: 15px;
  border-radius: 31px;
  font-weight: bold;
  letter-spacing: 2px;
}

.btnWhite a:hover {
  text-decoration: none;
}
.btnTransparent {
  display: block;
  margin: 2em auto;
  text-align: center;
}

.btnTransparent a {
  display: inline-block;
  color: white;
  background-color: none;
  padding: 15px;
  border-radius: 31px;
  font-weight: bold;
  letter-spacing: 2px;
  border: 1px solid white;
  margin-right: 0.5em;
  min-width: 120px;
  text-align: center;
}

.btnTransparent a:hover {
  text-decoration: none;
}

#landingFrame h1 {
  font-size: 130px;
  font-weight: bold;
  font-family: Gotham-bold;
}

.upperTitle {
  font-weight: bold;
  font-family: Gotham-bold;
  font-size: 60px;
  color: rgba(255, 255, 255, 0.3);
  letter-spacing: 2px;
  margin-left: 150px;
  padding-top: 40px;
}

.upperTitle.whiteBg {
  color: #e4e4e4;
}

.upperTitle.mustardBg {
  color: rgba(0, 0, 0, 0.2);
  margin-left: 160px;
}

#landingFrame h4 {
  letter-spacing: 6px;
}

#landingFrame hr {
  width: 380px;
  color: white;
  background-color: white;
}

.bgIndexMainSection {
  background-image: url("../images/bg_indexMainSection.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.bgSkillsForLifeMainSection {
  background-image: url("../images/bg_SkillsForLifeMainSection.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.bgPartnersMainSection {
  background-image: url("../images/bg_Partner_Mainsection.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.bgContactUsBottomSection {
  background-image: url("../images/bg_contactus_section_bottom.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.bgContactUsBottomSectionWhite {
  background-image: url("../images/bg_contactus_white_section_bottom.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.bgAboutUsHeaderMainSection {
  background-image: url("../images/bg_about_us_HeaderSection.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.bgFutureSection {
  background-image: url("../images/bg_skillsforLifesection.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.bgAboutUsPartnersSections {
  background-image: url("../images/bg_aboutUsOurPartnersSection.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.bgOurStorySection {
  background-image: url("../images/bg_aboutUsOurStorySection.jpg");
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}

.itemSkills {
  margin-left: 50px;
  vertical-align: top;
  font-weight: 800;
}

.itemSkills img {
  width: 60px;

  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
}

.itemSkills p {
  display: inline-block;
  vertical-align: top;
}

.itemSkills span {
  font-size: 25px;
}

.disruptingImage {
  font-family: Gotham-bold;
  color: #363d4a;
}
.disruptingImage img {
  width: 250px;
}

.bgmustard {
  background-color: #f2da78;
}

.contactusBottom i {
  font-size: 25px;
  padding: 5px 15px;
}

.subMenu {
  background-color: #f5f5f5;
}

.subMenu ul {
  margin: 0;
  padding: 0;
}

.subMenu ul li {
  display: inline-block;
}

.subMenu ul li a {
  color: #cfcfcf;
  font-family: Gotham-bold;
  padding-right: 1.5em;
}

.subMenu ul li a:hover {
  text-decoration: none;
}

.subMenu ul li a.selected {
  color: black;
}

.ourApproachImage {
  max-width: 1000px;
  width: 100%;
  display: block;
  margin: 1em auto;
}

.ourApproachImage img {
  width: 100%;
}

.videosLaunchEvent ul {
  margin: 0;
  padding: 0;
  text-align: center;
}

.videosLaunchEvent ul li {
  display: inline-block;
  width: 20%;
  margin: 1em;
  vertical-align: top;
  text-align: left;
}

.videosLaunchEvent ul li img {
  width: 100%;
  cursor: pointer;
  display: block;
  margin: 0 auto;
}

.videosLaunchEvent ul li p {
  font-weight: bold;
  font-family: Gotham-bold;
}
