#landingFrame {
  color: white;
  text-align: center;
  margin-top: 20em;
}

#landingFrame h1 {
  font-size: 70px;
}

#landingFrame h4 {
  color: rgba(255, 255, 255, 0.6);
}

#landingFrame hr {
  background-color: rgba(255, 255, 255, 0.4);
  width: 400px;
  height: 2px;
}

.overviewFrame {
  color: #363d4a;
}

.overviewFrame h3 {
  line-height: 1.5;
  font-weight: bold;
}

.overviewFrame h6 {
  letter-spacing: 2px;
  font-weight: bold;
}

.overviewFrame button {
  background-color: #ccc;
}

.skillsForLife .circleImage {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  background-color: red;
}

.bgLightGray {
  background-color: #f9f9f9;
}

.ourPartnersLogos ul li {
  width: 155px;
  height: 155px;
  padding: 1em;
  display: inline-block;
}

.ourPartnersLogos ul li img {
  width: 100%;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}

.ourPartnersLogos ul li img:hover {
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
}

.skillForLifeGraph img {
  width: 100%;
}

.skillListIndividualItems {
  padding: 2em;
}

.skillListIndividualItems ul li {
  list-style: none;
  color: white;
  padding: 0.25em 0.5em;
  text-transform: uppercase;
  font-weight: bold;
}

.skillListIndividualItems ul li a {
  color: white;
}

.skillListIndividualItems ul li a:hover {
  color: #f2da78;
  text-decoration: none;
}

.subColumnasFlex .subColumna2 .imageSkillsCircle {
  width: 250px;
}

.subColumnasFlex .subColumna2 .imageSkillsCircle img {
  width: 100%;
}

.secondColumnImage75vh {
  min-height: 75vh;
}

.secondColumnImage100vh {
  min-height: 90vh;
}

.secondColumnImage75vh.ContactUsRegistation {
  background-image: url("/images/contactus_register.png");
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
}

.secondColumnImage75vh.PartnersCoalitionBGImage {
  background-image: url("/images/the_coalition_signature.png");
  background-size: cover;
  background-position: bottom left;
  background-repeat: no-repeat;
}

.secondColumnImage100vh.DisruptingBGImage {
  background-image: url("/images/disrupting_education_whatTechCan.png");
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
}

.bgIndexMainSection {
  background-image: url("/images/bg_indexMainSection.jpg");
  background-size: cover;
  background-position: right top;
  background-repeat: no-repeat;
}

.bgAboutUsHeaderMainSection {
  background-image: url("/images/bg_about_us_HeaderSection.png");
  background-size: cover;
  background-position: right top;
  background-repeat: no-repeat;
}

.bgLaunchEventInReponse {
  background-image: url("/images/Launch-event.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.bgContactUsBottomSection {
  background-image: url("/images/bg_contactus_section_bottom.png");
  background-size: cover;
  background-position: right top;
  background-repeat: no-repeat;
}

.bgHomeJoinTheInitiative {
  background-image: url("/images/bg_home_jointheinitiative.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.bgAboutUsSkillsForLifeFullSection {
  background-image: url("/images/bg_skillsforLifesection.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.bgAboutUsPartnersSections {
  background-image: url("/images/bg_aboutUsOurPartnersSection.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.bgAboutUsWeBeliveInDisrupte {
  background-image: url("/images/bg_aboutus_weBelieve_inDisruptiveInnovation.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.bgAboutCoalitionSection {
  background-image: url("/images/bg_about_Coalition_section.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.bgAboutLetsWorkTogether {
  background-image: url("/images/bg_about_letswortogether_section.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.bgContactUsBottomSection i,
.bgContactUsBottomSection a {
  color: #f2da78;
}

.bgContactUsBottomSection img {
  top: -50px;
  display: block;
  position: relative;
}
.contactUs-logosRegistration {
  width: 80%;
}

.contactUs-logosRegistration li {
  list-style: none;
  margin-top: 2em;
}

.contactUs-logosRegistration img {
  width: 100%;
}

.documentImagesLaunch {
  max-width: 60%;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.documentImagesLaunch img {
  width: 100%;
  display: block;
}

.contactus-bottom-socialIcons ul {
  margin: 0 0 0 1em;
  padding: 0;
}
.contactus-bottom-socialIcons ul li {
  display: inline-block;
  margin: 1em;
}

.contactus-bottom-socialIcons ul li a {
  color: #f2da78;
}
